@media only screen and (max-width:1199.99px) {
.currentOrder  .filterBlk.filter4Grid .filterItem {
    width: 33.33%;
}
.currentOrder .pageHead {
    margin-right: 30px;
}
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {}

@media only screen and (max-width: 1024px) and (min-width: 768px) {}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {}

@media only screen and (max-width: 991.98px) {
    .top-header .right-info li.mr-20 {
        margin-left: 5px;
        margin-right: 5px;
    }
    .headerIcon {
        order: 0;
        margin-left: auto;
        margin-right: 10px;
    }
    .btn.theme-btn.signupBtn {
        padding: 8px 12px;
    }
    button.navbar-toggler {
        width: 42px;
        height: 42px;
        padding: 0;
    }
    .footer_section .col-lg-3 {
        margin-bottom: 35px;
    }
    .currentOrder .filterBlk {
        flex: auto;
        margin: 0 -8px !important;
    }
    .pageHead {
        width: 100%;
    }
    /*.dataTable.fixedHeader-floating {
        display: none;
    }*/
    table.dataTableHistory2.table.table-striped.table-bordered.dataTable.dtr-inline.collapsed.fixedHeader-floating {
        top: 150px !important;
    }
    .currentOrder.ticketPage .filterBlk.filter4Grid .filterItem {
        width: 50%;
    }
    .uploadNewId {
        flex: auto;
        margin-left: 0;
        width: 100%;
        margin-top: 30px;
    }
    .srImgView img {
        max-width: 100%;
    }
    .srMoreInfoBlk {
        flex-wrap: wrap;
    }
    .srImgView {
        margin-right: 0;
    }
    .srCntView {
        margin-top: 10px;
    }
      .navbar-light .navbar-toggler {
          background-color: #fff;
      }
      .navbar-light .navbar-brand {
          padding: 5px;
      }
      .navbar.navHeader {
          background: #004866 !important;
      }
      .navbar.navHeader {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      a.navbar-brand::before {
        border-top: 71px solid #ffffff;
    }
}

@media screen and (min-width: 992px) and (max-width: 1140px) {
    .top-header::after {
        left: 16px;
    }
    footer .color-part {
        margin-left: -26%;
    }
}
@media screen and (min-width: 1141px) and (max-width: 1170px) {
    .top-header::after {
        left: 15px;
    }
    footer .color-part {
        margin-left: -26%;
    }
}


@media only screen and (min-width: 992px) {

}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    footer .copy, footer:before {
        font-size: 14px;
        padding-left: 18%;
    }
    .pmtMethodImg img {
        max-width: 30px;
    }
    footer .color-part {
        margin-left: -26%;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767.98px) {
    .navbar.navHeader {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .top-header .left-info {
        text-align: center;
    }
    .top-header .right-info {
        text-align: center;
        margin-top: 10px;
    }
    .top-header .left-info li {
        margin: 0 10px;
    }
    .bottom_footer_main {
        flex-wrap: wrap;
    }
    .bottom_footer_wrapper {
        order: 2;
        width: 100%;
        margin-top: 15px;
    }
    .pmtMethodImg {
        margin: 0 auto;
    }
    .innerPageWrapper {
        padding-top: 153px;
    }
    .currentOrder .filterBlk.filter4Grid .filterItem {
        width: 50%;
    }
    .currentOrder .filterBlk.filter4Grid .filterItem:first-child {
        width: 100%;
            margin-bottom: 10px;
    }
    .currentOrder.ticketPage .filterBlk.filter4Grid .filterItem {
        width: 100%;
    }
    .quoteImgBlk{
        display: none;
    }
    .stickeySidebar{
        display: none;
    }
    .bannerText h2 {
        font-size: 30px;
    }
}
@media only screen and (min-width: 641px) and (max-width: 767.98px) {
    footer .copy, footer:before {
        padding-left: 3%;
        font-size: 14px;
    }
    .pmtMethodImg {
        right: 3%;
    }
    .pmtMethodImg img {
        max-width: 35px;
    }
    footer .color-part {
        margin-left: -26%;
    }
}

@media only screen and (max-width: 640.98px) {
    footer .copy, footer:before {
        padding-left: 5%;
    }
    footer:before{
        display: none;
    }
    .pmtMethodImg img {
        max-width: 30px;
    }
    .pmtMethodImg {
        right: 5%;
        bottom: 70px;
    }

}

@media only screen and (max-width: 575.98px) {
    .footer_section .col-lg-3:last-child {
        margin-bottom: 0;
    }
    .tackBox .btn {
        right: 8px;
        height: 45px;
        top: 8px;
        padding: 6px 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {

}

@media only screen and (max-width: 500px) {
    .lsBox {
        padding: 40px 20px;
    }
    .ticketAct {
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    a.navbar-brand::before{
      display: none;
    }
    .headerIcon{
        margin-left: 0px;
    }
    .navbar-light .navbar-toggler {
        background-color: #fff;
    }
    .navbar-light .navbar-brand {
        padding: 5px;
    }
    .tackBox {
        flex-wrap: wrap;
    }
    .tackBox .btn {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media only screen and (max-width:400px) {

}
@media only screen and (max-width:479px) {

}

/*@media only screen and (max-width: 37.98px) {

}*/
@media only screen and (max-width: 374.98px) {
.navbar-brand img {
    max-width: 125px;
}
.innerPageWrapper {
    padding-top: 140px;
}
.currentOrder .filterBlk.filter4Grid .filterItem {
    width: 100%;
    margin-bottom: 10px;
}
}

@media only screen and (max-width: 359px) {
    .tackBox .btn {
        position: static;
        margin-top: 10px;
        width: 100%;
    }
    .navbar-brand img {
        max-width: 115px;
    }
    .csForm .input-group-append span {
        font-size: 14px;
        min-width: 40px;
        padding: 0 4px;
    }
    .top-header .left-info li {
        margin: 0 7px;
    }
    .top-header .left-info li a, .top-header .right-info li a {
        font-size: 12px;
    }
    .btn.theme-btn.signupBtn {
        padding: 6px 9px;
        font-size: 15px;
    }
    button.navbar-toggler {
        width: 36px;
        height: 36px;
    }
    .innerPageWrapper {
        padding-top: 130px;
    }
}

@media screen and (min-width:640px) and (max-width:767px){}

@media only screen and (max-width:1400px){
    .ft-service-innerbox-3 .ft-service-text-icon:before {
        border-left: 324px solid rgba(255, 255, 255, 0);
    }
    .ft-service-innerbox-3 .ft-service-text-icon:after {
        top: -44px;
        left: -5px;
        width: 103%;
        -webkit-transform: rotate(-12deg) skew(-15deg);
        transform: rotate(-12deg) skew(-15deg);
    }
}
@media only screen and (max-width:1140px){
    .ft-service-innerbox-3 .ft-service-text-icon:before {
        display: none;
    }
    .ft-service-innerbox-3 .ft-service-text-icon:after{
        display: none;
    }
    .navbar-nav.mainMenu li a {
        font-size: 14px;
    }

}